<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init" default-destroy-method="destroy">

    <bean id="person" class="edu.seepure.javaee.spring.lifecycle.bean.Person" >
        <property name="age" value="20" />
        <property name="name" value="haha" />
    </bean>

    <bean id="student" class="edu.seepure.javaee.spring.lifecycle.bean.Student" init-method="studentInit">
        <property name="age" value="21" ></property>
        <property name="name" value="bbb" />
    </bean>

    <bean id="springAwareBean" class="edu.seepure.javaee.spring.lifecycle.bean.SpringAwareBean" >
        <property name="p1" value="ppppcccc" />
    </bean>

    <bean class="edu.seepure.javaee.spring.lifecycle.MyBeanPostProcessor" />

</beans>