<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="appleService" class="edu.seepure.javaee.spring.ioc.service.AppleService" >
        <property name="name" value="apple"></property>
        <property name="boyService" ref="boyService"></property>
    </bean>

    <bean id="boyService" class="edu.seepure.javaee.spring.ioc.service.BoyService" >
        <property name="name" value="boy" ></property>
    </bean>
</beans>
